<!-- 管理者の商品一覧画面 -->
<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-10 py-4">
      <div class="row">
        <div class="container">
          <span class="font-weight-bold h3">アーティスト更新</span>
          <div class="box" style="height:10px;background-color:#005684;"></div>
          <p>TOZAI Records -No music No life-</p>

          <%= form_for @artist do |artist| %>
          <table class="table table-sm">
            <thead>
              <tr class="table-light">
                <th>アーティスト名</th>
                <th>アーティスト名(カナ)</th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td><%= artist.text_field :name, class:"form-control" %></td>
                <td><%= artist.text_field :name_kana, class:"form-control" %>
                <td><%= artist.submit "更新", class:"btn btn-outline-info btn-sm" %></td>
                <% if Artist.find(params[:id]).items.count == 0 %>
                <td><%= link_to "削除", artist_path(@artist), method: :delete, data:{confirm: 'Are you sure??'}, class:'btn btn-outline-dander btn-sm ml-2' %></td>
                <% end %>
              </tr>

            </tbody>
          </table>
          <% end %>

        </div><!--メインページのcontainer-->
      </div> <!--メインページのrow-->
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
