<!-- 管理者の新規登録画面（メイン管理者のみ） -->

<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-10 my-4">
      <div class="row justify-content-center">
        <div class="col-6 jumbotron">
          <p class="text-center h5">
            <%= @admin.family_name_kanji %><%= @admin.given_name_kanji %>
          </p>
          <h1 class="text-center font-weight-bold">パスワード変更</h1>
          <%= form_for(@admin) do |f| %>
            <!-- パスワード -->
            <%= f.label :新しいパスワード %>
            <div class="form-row">
              <div class="form-group col-12">
                <%= f.password_field :password, class:"form-control", id:"InputPassword", placeholder:"半角英数字(6文字~20文字)" %>
              </div>
            </div>
<%
=begin
%>
            <!-- 現状機能していない -->
            <!-- パスワード再入力 -->
            <%= f.label :パスワード確認 %>
            <div class="form-row">
              <div class="form-group col-12">
                <%= f.password_field :password_confirmation, class:"form-control", id:"InputPassword", placeholder:"もう一度、パスワードを入力して下さい" %>
              </div>
            </div>
<%
=end
%>
            <!-- 登録ボタン -->
            <%= f.submit "-パスワードを変更-", class:"btn btn-warning btn-block" %>

          <% end %>

        </div>
      </div>
    </div>

  </div>
</div>
