<div class="container col-4" style="margin-top:150px;">
  <div class="jumbotron">
    <h1 class="text-center">サインイン</h1>
    <div class="form-group">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <label for="InputTextarea">Email</label>
      <%= f.email_field :email, :placeholder=>"Eメールアドレスを入力して下さい",:class=>"form-control" %>
    </div>
    <div class="form-group has-error has-feedback">
      <label for="inputError2">Password</label>
      <%= f.password_field :password, :placeholder=>"半角英数字",:class=>"form-control" %>
      <span class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value=""> Remember me</label>
    </div>
    <%= f.submit "-sign_in-", :class=>"btn btn-info btn-block" %>
    <% end %>
  </div>
</div>
<!-- Bootstrap core JavaScript 位置はここから動かさない -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<%= render "users/shared/links" %>
