<% if admin_signed_in? %>

  <%= render 'users/edit_admins' %>

<% else %>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-5">

        <div class="jumbotron">
      		<h1 class="text-center font-weight-bold">登録情報編集</h1>
          <%= form_for(@user) do |f| %>
            <%= f.label :名前 %>
            <div class="form-row">
              <div class="form-group col-md-6">
                <%= f.text_field :family_name_kanji, class:"form-control" %>
                <%= f.text_field :given_name_kanji, class:"form-control" %>
              </div>
              <%= f.label :フリガナ全角 %>
              <div class="form-group col-md-6">
                <%= f.text_field :family_name_kana, class:"form-control" %>
                <%= f.text_field :given_name_kana, class:"form-control" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :Emailアドレス %>
              <%= f.email_field :email, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :郵便番号 %>
              <%= f.text_field :post_code, class:"form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :住所全角 %>
              <%= f.text_field :address, class:"form-control" %>
            <div class="form-group">
              <%=  f.label :電話番号 %>
              <%= f.text_field :phone_number, class:"form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :Password %>
              <%= f.password_field :password, class:"form-control", id:"InputPassword", placeholder:"半角英数字(6文字~20文字)" %>
            </div>

            <%= f.submit "-情報を更新-", class:"btn btn-warning btn-block" %>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<% end %>
