<div class="container-fluid">
  <div class="row justify-content-center">

    <div class="col-10 py-4">
      <div class="row justify-content-center">
        <div class="col-6">

          <div class="jumbotron">
            <h1 class="text-center font-weight-bold">登録情報編集</h1>

            <%= form_for(@user) do |f| %>

              <label for="InputName">名前</label>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.text_field :family_name_kanji, autofocus: true, :placeholder=>"姓",  class:"form-control" %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.text_field :given_name_kanji, :placeholder=>"名", class:"form-control" %>
                </div>
              </div>
              <label for="InputPassword">フリガナ(全角):</label>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.text_field :family_name_kana, :placeholder=>"セイ", class:"form-control" %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.text_field :given_name_kana, :placeholder=>"メイ", class:"form-control" %>
                </div>
              </div>
              <div class="form-group">
                <label for="InputEmail">メールアドレス</label>
                <%= f.email_field :email, autocomplete:"email", :placeholder=>"メールアドレスを入力して下さい", class:"form-control" %>
              </div>
              <div class="form-group">
                <label for="InputAddress">郵便番号</label>
                <%= f.text_field :post_code, :placeholder=>"ハイフンなし", class:"form-control" %>
              </div>
              <div class="form-group">
                <label for="InputAddress">住所(全角)</label>
                <%= f.text_field :address, :placeholder=>"住所", class:"form-control" %>
              </div>
              <div class="form-group">
                <label for="InputTell">電話番号</label>
                <%= f.text_field :phone_number, :placeholder=>"ハイフンなし", class:"form-control" %>
              </div>
<%
=begin
%>
              <!-- 機能してません -->
              <div class="form-group">
                <label for="InputPassword">パスワード確認</label>
                <%= f.password_field :password_confimation, autocomplete: "off", :placeholder=>"もう一度、パスワードを入力して下さい", class:"form-control" %>
              </div>
<%
=end
%>
              <%= f.submit "-変更-", class:"btn btn-warning btn-block" %>

            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
