<% if admin_signed_in? %>

  <%= render 'users/show_admins' %>

<% else %>

  <!-- メインページ -->
  <div class="container" style="min-height: 100%; margin-bottom: -120px;">
    <div class="row text-center" style="margin-top: 120px;">
      <div class="col-12 font-weight-bold h3">
        <p>田中 太郎さんのマイページ</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card border-secondary text-white text-center">
          <div class="card-header font-weight-bold" style="background-color:#00008b;">
            ユーザー情報
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush text-dark">
              <li class="list-group-item"><p class="small text-secondary">名前</p><%= @user.family_name_kanji %><%= @user.given_name_kanji %></li>
              <li class="list-group-item"><p class="small text-secondary">メールアドレス</p><%= @user.email %></li>
              <li class="list-group-item"><p class="small text-secondary">住所</p>〒<%= current_user.post_code %><br><%= @user.address %></li>
              <li class="list-group-item"><p class="small text-secondary">電話番号</p><%= @user.phone_number %></li>
            </ul>
            <%= link_to edit_user_path(@user.id) do%>
            <i class="btn btn-secondary btn-sm mt-4">
              <span class="small">編集</span></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="card border-secondary text-white text-center">
              <div class="card-header font-weight-bold" style="background-color:#00008b;">
                注文履歴
              </div>
              <div class="card-body">
                <p class="small text-secondary">配送状況の確認・注文のキャンセル</p>
                <%= link_to orders_path(@user.id) do %>
                <i class="btn btn-secondary btn-sm">一覧へ</i>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-12 mt-4">
            <div class="card border-secondary text-white text-center">
              <div class="card-header font-weight-bold" style="background-color:#00008b">
                送付先住所
              </div>
              <div class="card-body">
                <ul class="list-group list-group-flush text-dark">
                  <li class="list-group-item"><p class="small text-secondary">名前</p><%=  %><%= %></li>
                  <li class="list-group-item"><p class="small text-secondary">住所</p>〒<%=  %><br>東京都渋谷区神南１丁目１９−１０</li>
                </ul>
                <p class="small text-secondary mt-2">・<br>その他1件</p>
                <%= link_to do%>
                <a href="#" class="btn btn-secondary btn-sm">登録・変更</a>
                <% end %>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="w-100">
      </div>

      <div class="col-12 text-center text-white mt-4">
        <a href="#" class="btn btn-dark">買い物へ戻る</a>
      </div>

      <div class="col-12 text-center mt-5">
        <a href="#" class="text-secondary">退会する</a>
      </div>

    </div>

    <!-- footerを下にするための空要素 -->
    <div style="height: 120px;"></div>

  </div><!-- 全体containerの閉じタグ -->

<% end %>