<% if admin_signed_in? %>

  <%= render 'users/show_admins' %>

<% else %>

  <!-- メインページ -->
  <div class="container py-4">
    <div class="row text-center">
      <div class="col-12 font-weight-bold h3">
        <p>
          <%= @user.family_name_kanji %>
          <%= @user.given_name_kanji %>
          さんのマイページ
        </p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="card border-secondary text-white text-center" style="height: 36em;">
          <div class="card-header font-weight-bold" style="background-color:#00008b;">
            ユーザー情報
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush text-dark">
              <li class="list-group-item">
                <p class="small text-secondary">名前</p>
                <%= @user.family_name_kanji %><%= @user.given_name_kanji %>
              </li>
              <li class="list-group-item">
                <p class="small text-secondary">メールアドレス</p>
                <%= @user.email %>
              </li>
              <li class="list-group-item">
                <p class="small text-secondary">住所</p>
                〒<%= current_user.post_code %><br>
                <%= @user.address %>
              </li>
              <li class="list-group-item">
                <p class="small text-secondary">電話番号</p>
                <%= @user.phone_number %>
              </li>
            </ul>
            <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-secondary btn-sm mt-4"%>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <div class="card border-secondary text-white text-center" style="height: 10em;">
              <div class="card-header font-weight-bold" style="background-color:#00008b;">
                注文履歴
              </div>
              <div class="card-body">
                <p class="small text-secondary">配送状況の確認・注文のキャンセル</p>
                <%= link_to orders_path(@user.id) do %>
                <i class="btn btn-secondary btn-sm">一覧へ</i>
                <% end %>
              </div>
            </div>
          </div>

          <!--送付先住所表示-->
          <div class="col-12" style="margin-top: 1.5em;">
            <div class="card border-secondary text-white text-center" style="height: 24.5em;">
              <div class="card-header font-weight-bold" style="background-color:#00008b">
                送付先住所
              </div>
              <div class="card-body">

                <% if Address.exists?(user_id: @user.id) %>
                  <ul class="list-group list-group-flush text-dark">
                    <li class="list-group-item">
                      <p class="small text-secondary">名前</p>
                      <%= @address.family_name_kanji %> <%= @address.given_name_kanji %>
                    </li>
                    <li class="list-group-item">
                      <p class="small text-secondary">住所</p>
                      〒<%= @address.post_code %><br>
                    </li>
                  </ul>
                  <!--<p class="small text-secondary mt-2">・<br>その他1件</p>-->
                  <%#= link_to "登録・変更", edit_address_path(@address), class: "btn btn-secondary btn-sm" %>

                <% else %>

                  <div class="row" style="line-height: 17em;">
                    <div class="col-12 text-dark">送付先住所が登録されていません</div>
                  </div>
                  <%= link_to "登録・変更", edit_address_path(@address), class: "btn btn-secondary btn-sm" %>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-100">
      </div>

      <div class="col-12 text-center text-white mt-4">
        <%= link_to "買い物へ戻る", items_path, class: "btn btn-dark" %>
      </div>

      <div class="col-12 text-center mt-5">
        <%= link_to "退会する", confirm_path(@user), class: "text-secondary" %>
      </div>

    </div>

  </div><!-- 全体containerの閉じタグ -->

<% end %>