<div class="container-fluid">
  <div class="row">

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- 商品情報 -->
    <div class="col-10">
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="container">
              <span class="font-weight-bold h2">商品詳細</span>
              <div class="box" style="height:10px;background-color:#005684;"></div>

              <p>The .table-striped class adds zebra-stripes to a table:</p>

              <div class="container">
                <div class="jumbotron">
                <%= form_for @item do |item| %>
                  <%= item.submit "情報更新", class:"btn btn-outline-warning btn-sm float-right"%>
                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label class="control-label font-weight-bold">商品タイプ</label>
                      <div class="radio">
                        <label><%= item.radio_button :content_type,"シングル" %>シングル</label>
                        <label><%= item.radio_button :content_type,"アルバム" %>アルバム</label>
                        <label><%= item.radio_button :content_type,"レコード" %>レコード</label>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <label class="font-weight-bold">タイトル</label>
                      <%= item.text_field :title, class:"form-control" %>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="font-weight-bold">レーベル名</label>
                      <%= fields_for @label do |label| %>
                        <%= label.text_field :name, class:"form-control", :list=>"label_list", :autocomplete => "off" %>
                      <% end %>
                      <datalist id="label_list">
                        <% @label_name.each do |label| %>
                      <option value="<%= label.name %>"><%= label.name %></option>
                      <% end %>
                      </datalist>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="font-weight-bold">ジャンル</label>
                        <%= fields_for @genre do |genre| %>
                        <%= genre.text_field :genre_english,class:"form-control",:list=>"genre_english_list",:autocomplete => "off" %>
                      <% end %>
                      <datalist id="genre_english_list">
                        <%= @genre_name.each do |genre| %>
                        <option value="<%= genre.genre_english %>"><%= genre.genre_english %></option>
                        <% end %>
                      </datalist>
                      <label class="font-weight-bold">ジャンル(カナ)</label>
                      <%= fields_for @genre do |genre| %>
                        <%= genre.text_field :genre_kana,class:"form-control",:list=>"genre_kana_list",:autocomplete => "off" %>
                      <% end %>
                      <datalist id="genre_kana_list">
                        <%= @genre_name.each do |genre| %>
                        <option value="<%= genre.genre_kana %>"><%= genre.genre_kana %></option>
                        <% end %>
                      </datalist>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="font-weight-bold">商品紹介</label>
                    <%= item.text_area :item_introduction, class:"form-control" %>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-2">
                      <label class="font-weight-bold">商品単価</label>
                      <%= item.text_field :price_without_tax, class:"form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                      <label class="font-weight-bold">在庫数</label>
                      <%= item.text_field :stock, class:"form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                      <label class="font-weight-bold ">ステータス</label>
                      <% if @item.is_deleted  == false %>
                            <p class="text-success">販売中</p>
                      <% else %>
                            <p class="text-danger">販売中止</p>
                      <% end %>
                        <%= item.select(:is_deleted, [['販売中', false], ['取扱中止',true]]) %>
                    </div>

                  </div>

                  <a href="#" class="col-md-3 form-control-file ">ジャケットを変更</a>
                  <table class="table table-responsive">
                    <thead>
                      <th class="text-center small font-weight-bold">ディスク<br>番号</th>
                      <th class="text-center small font-weight-bold">トラック<br>番号</th>
                      <th class="text-center small font-weight-bold">曲名</th>
                      <th class="text-center small font-weight-bold">時間(h)</th>
                      <th class="text-center small font-weight-bold">時間(m)</th>
                      <th class="text-center small font-weight-bold">時間(s)</th>
                      <th class="text-center small font-weight-bold">アーティスト名</th>
                      <th class="text-center small font-weight-bold">アーティスト名<br>(カナ)</th>
                    </thead>

                    <tbody>

                      <%= fields_for @track do |track| %>
                        <td><%= track.text_field :disc_number, class:"form-control  mx-auto" %></td>
                        <td><%= track.text_field :track_number, class:"form-control  mx-auto" %></td>
                        <td><%= track.text_field :name, class:"form-control" %></td>
                        <td><%= track.text_field :length_hour, class:"form-control col-sm3 mx-auto" %></td>
                        <td><%= track.text_field :length_minute, class:"form-control col-sm3 mx-auto" %></td>
                        <td><%= track.text_field :length_second, class:"form-control col-sm3 mx-auto" %></td>
                      <% end %>
                        <td><%= fields_for @artist do |artist| %>
                          <%= artist.text_field :name, class:"form-control", :list=>"artist_list", :autocomplete => "off" %>
                        <% end %>
                        <datalist id="artist_list">
                          <% @artist_name.each do |artist| %>
                        <option value="<%= artist.name %>"><%= artist.name %></option>
                          <% end %>
                        </datalist>
                      </td>
                      <td>
                        <%= fields_for @artist do |artist| %>
                          <%= artist.text_field :name_kana, class:"form-control", :list=>"artist_name_kana_list", :autocomplete => "off" %>
                        <% end %>
                          <datalist id="artist_name_kana_list">
                            <% @artist_name.each do |artist| %>
                          <option value="<%= artist.name_kana %>"><%= artist.name_kana %></option>
                            <% end %>
                          </datalist>
                      </td>

                    </tbody>
                  </table>
                  <a href="#" class="btn btn-outline-danger btn-sm">delete</a>
                  <button class="btn btn-outline-success float-right">入力フォーム追加</button>
<% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">

        <!-- ジャケット画像 -->
        <div class="col-4">
          <%= attachment_image_tag @item, :image, fallback: "no_image.jpg",class: "card-img" %>
        </div>
        <!-- 商品　大情報 -->
        <div class="col-5" style="word-break: break-all;">
          <div>
            <span>
              <%= link_to @item.genre.genre_english, genres_path(@item), class: "btn btn-sm btn-secondary" %>
            </span>
            <%= link_to @item.artist.name, artists_path(@item), class: "font-weight-bold", style: "color: #0033cc; font-size: 18px;" %><br>
            <span class="font-weight-bold", style="color: #1a1a1a;">
              <%= @item.title %>
            </span>
          </div>

          <div class="mt-3">
            <span class="text-dark small">
              <%= number_to_currency @item.price_without_tax, :unit => "￥", :precision => 0 %>
            </span><br>
            <!-- 在庫が20以下の場合 -->
            <% if @item.stock <= 20 && @item.stock >= 1 %>
              <span class="text-danger small">
                在庫残り<%= @item.stock %>点
              </span>
            <!-- 在庫切れの場合 -->
            <% elsif @item.stock == 0 && @item.is_deleted == false %>
              <span class="text-secondary small">
                【在庫切れ】再入荷中
              </span>
            <!-- 削除フラグtrueの場合 -->
            <% elsif @item.is_deleted == true %>
              <span class="text-secondary small">
                取扱終了
              </span>
            <!-- 在庫が21以上の場合 -->
            <% else %>
              <span class="text-dark small font-weight-bold">
                在庫有り
              </span>
            <% end %>
          </div>

        </div>
        <!-- カート追加関連 -->
        <div class="col-3 align-self-end">
          <!-- カートに入れる数量 -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item form-group">
                <input class="form-control form-control-sm" type="text" placeholder="数量を入力">
                </input>
            </li>
            <!-- カートか欲しいものリストに追加 -->
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">カートに追加</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">リストに追加</a></li>
          </ul>
        </div>

        <!-- YouTube -->

        <div class="col-12 mt-4">
          <iframe class="" src="https://www.youtube.com/embed/exlGc8eFXI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>

      </div>

      <!-- 商品　小情報 -->
      <div class="row">
        <div class="col-12">
          <table class="table table-sm small">
            <thead class="text-white" style="background-color:#B40404;">
              <tr>
                <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品情報</p>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="bg-secondary text-white"><%= @item.content_type %></th>
                <td>シングル</td>
                <th class="bg-secondary text-white">レーベル</th>
                <td><%= @item.label.name %></td>
              </tr>
              <tr>
                <th class="bg-secondary text-white">ディスク枚数</th>
                <td><%= @max_disc_number %></td>
                <th class="bg-secondary text-white">収録曲数</th>
                <td><%= @item.tracks.count %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 収録曲トラックナンバー、タイトル、アーティスト -->
      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white" style="background-color:#B40404;">収録曲</p>
          <table class="table table-sm table-striped small"  style="width: 100%; table-layout: fixed; overflow: hidden;">
            <tbody>
              <% @item.tracks.each do |track| %>
                <tr>
                  <th scope="row" style="width: 3%;">
                    <%= track.track_number %>
                  </th>
                  <td style="width: 47%;">
                    <%= track.name %>
                  </td>
                  <td style="width: 50%;">
                    <%= track.artist.name %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品紹介</p>
          <div class="small" style="word-break: break-all;">
            <%= @item.item_introduction %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">購入者レビュー</p>
            <table class="table" style="word-break: break-all;">
              <tbody>
                <% if @item.item_reviews.exists? %>
                  <%= @item.item_reviews.each do |reviews| %>
                    <tr>
                      <td>
                        <p class="text-dark">
                          <%= reviews.user.name %>
                        </p>
                        <span class="text-secondary">
                          <%= reviews.created_at %>
                        </span>
                        <div class="mt-1 small text-dark">
                          <%= reviews.review %>
                        </div>
                      </td>
                    </tr>
                  <% end %>

                <% else %>

                  <p class='text-center'>レビューは投稿されていません</p>

                <% end %>

              </tbody>
            </table>
        </div>
      </div>

    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->