<% if admin_signed_in? %>

  <%= render 'items/index_admins', {} %> <!-- 変数を再定義する必要有り -->

<% else %>
  <%# ユーザーページ %>
  <div class="container-fluid">
    <div class="row">

      <!-- サイドバー -->
      <%= render 'layouts/sidebar_users', {} %> <!-- 変数を再定義する必要有り -->

      <!-- メインページ -->
      <div class="col-9">
        <%# 新着情報のカルーセルは使用しない %>
        <%#= render 'layouts/items_index/carouse' %>

        <%# 新入荷商品一覧 %>
        <%= render 'layouts/items_index/new_items' if current_page?(root_path) || current_page?(controller: 'items', action: 'index') %>

        <!-- 商品一覧 -->
        <div class="row">
          <div class="col-12">
             <p class="text-center my-4 h5 text-white" style="background-color:#B40404;">商品一覧</p>
          </div>

          <div class="col-12 text-center mb-1" >
            <%= page_entries_info @items %>
          </div>
          <div class="col-12 mb-4">
            <nav aria-label="Page navigation example">
              <div class="pagination justify-content-center small" >
                <%= paginate @items %>
              </div>
            </nav>
          </div>

          <!-- 商品 -->
          <% @items.each do |item| %>
            <div class="col-3 mb-4">
              <div class="text-truncate" style="overflow: hidden;">
                <!-- ジャケット画像 -->
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image, fallback: "no_image.jpg", class: "card-img" %>
                <% end %>
                <!-- ジャンル、アーティスト名、商品名 -->
                <div class="mt-3 text-truncate">
                  <div class="text-dark"><%= item.genre.genre_english %></div>
                  <%= link_to item.artist.name, artist_path(item.artist_id), class: "font-weight-bold", style: "color: #0033cc; font-size: 18px;" %><br>
                  <%= link_to item.title, item_path(item), class: "font-weight-bold", style: "color: #1a1a1a;" %><br>
                </div>
                <!-- 税抜価格 -->
                <div class="mt-2">
                  <span class="text-dark small">
                    <%= number_to_currency item.price_without_tax, :unit => "￥", :precision => 0 %>
                  </span><br>
                  <!-- 在庫が20以下の場合 -->
                  <% if item.stock <= 20 && item.stock >= 1 %>
                    <span class="text-danger small">
                      在庫残り<%= item.stock %>点
                    </span>
                  <!-- 在庫切れの場合 -->
                  <% elsif item.stock == 0 && item.is_deleted == false %>
                    <span class="text-secondary small">
                      【在庫切れ】再入荷中
                    </span>
                  <!-- 削除フラグtrueの場合 -->
                  <% elsif item.is_deleted == true %>
                    <span class="text-secondary small">
                      取扱終了
                    </span>
                  <!-- 在庫が21以上の場合 -->
                  <% else %>
                    <span class="text-dark small font-weight-bold">
                      在庫有り
                    </span>
                  <% end %>
                </div>  <%# 税抜価格閉じタグ %>

              </div>
            </div>

          <% end %>

        </div><!-- 商品一覧rowの閉じタグ -->

        <% if @items.count > 8   %>
          <div class="row mb-4">
            <div class="col-12 text-center mb-1" >
              <%= page_entries_info @items %>
            </div>
            <div class="col-12">
              <nav aria-label="Page navigation example">
                <div class="pagination justify-content-center small">
                  <%= paginate @items %>
                </div>
              </nav>
            </div>
          </div>
        <% end %>

      </div><!-- メインページの閉じタグ -->
    </div><!-- 全体rowの閉じタグ -->
  </div><!-- 全体containerの閉じタグ -->

<% end %>