<div class="container-fluid"><!-- 全体container-->
  <div class="row"><!-- 全体row -->

    <!-- サイドバー -->
    <%= render 'layouts/sidebar_admins', {} %> <!-- 変数を再定義する必要有り -->

    <!-- メインページ -->
    <div class="col-10">
      <div class="row">
        <div class="container">

          <span class="font-weight-bold h2">商品追加</span>
          <div class="box" style="height:10px;background-color:#005684;">
          </div>

          <p>TOZAI Records -Eveything is Plactice-</p>
          <p class="flash-message text-danger">
            <%= flash[:item_created_error] %>
          </p>
          <div class="container">
            <div class="jumbotron">
              <%= form_for @item do |f| %>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="font-weight-bold">タイトル</label>
                    <%= f.text_field :title, class:"form-control" %>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="control-label font-weight-bold">商品タイプ</label>

                    <div class="radio">
                      <label><%= f.radio_button :content_type,"シングル" %>シングル</label>
                      <label><%= f.radio_button :content_type,"アルバム" %>アルバム</label>
                      <label><%= f.radio_button :content_type,"レコード" %>レコード</label>
                    </div>

                  </div>

                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label class="font-weight-bold">レーベル名</label>
                      <%= fields_for @label do |label| %>
                        <%= label.text_field :name, class:"form-control", :list=>"label_list", :autocomplete => "off" %>
                      <% end %>
                    <datalist id="label_list">
                      <% @label_name.each do |label| %>
                    <option value="<%= label.name %>"><%= label.name %></option>
                      <% end %>
                    </datalist>

                    <label class="font-weight-bold">Youtube</label>
                    <%= f.text_field :movie, class:"form-control" %>

                  </div>

                  <div class="form-group col-md-6">
                    <label class="font-weight-bold">ジャンル</label>
                      <%= fields_for @genre do |genre| %>
                        <%= genre.text_field :genre_english,class:"form-control",:list=>"genre_english_list",:autocomplete => "off" %>
                    <% end %>
                    <datalist id="genre_english_list">
                      <%= @genre_name.each do |genre| %>
                        <option value="<%= genre.genre_english %>"><%= genre.genre_english %></option>
                      <% end %>
                    </datalist>
                    <label class="font-weight-bold">ジャンル(カナ)</label>
                      <%= fields_for @genre do |genre| %>
                        <%= genre.text_field :genre_kana,class:"form-control",:list=>"genre_kana_list",:autocomplete => "off" %>
                      <% end %>
                    <datalist id="genre_kana_list">
                      <%= @genre_name.each do |genre| %>
                        <option value="<%= genre.genre_kana %>"><%= genre.genre_kana %></option>
                      <% end %>
                    </datalist>
                  </div>

                </div>

                <div class="form-group">
                  <label class="font-weight-bold">商品紹介</label>
                  <%= f.text_area :item_introduction, class:"form-control" %>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-2">
                    <label class="font-weight-bold">入庫数</label>
                    <%= f.text_field :stock, class:"form-control" %>
                  </div>

                  <div class="form-group col-md-2">
                    <label class="font-weight-bold">商品単価</label>
                    <%= f.text_field :price_without_tax, class:"form-control" %>
                  </div>

                  <div class="form-group my-auto">
                    <%= f.attachment_field :image,class:"form-control-file" %>
                  </div>
                </div>


                    <div class="form-group">
                      <label class="font-weight-bold">
                        アーティスト名
                      </label>
                      <%= fields_for @artist do |artist| %>
                        <%= artist.text_field :name, class:"form-control", :list=>"artist_list", :autocomplete => "off" %>
                      <% end %>
                      <datalist id="artist_list">
                        <% @artist_name.each do |artist| %>
                      <option value="<%= artist.name %>"><%= artist.name %></option>
                        <% end %>
                      </datalist>
                      <label class="font-weight-bold">
                        アーティスト名(カナ)
                      </label>
                      <%= fields_for @artist do |artist| %>
                        <%= artist.text_field :name_kana, class:"form-control", :list=>"artist_name_kana_list", :autocomplete => "off" %>
                      <% end %>
                      <datalist id="artist_name_kana_list">
                        <% @artist_name.each do |artist| %>
                      <option value="<%= artist.name_kana %>"><%= artist.name_kana %></option>
                        <% end %>
                      </datalist>
                    </div>
                  <%= f.submit "-商品追加-",class:"btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div><!-- メインページrowの閉じタグ -->
    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->
