<!-- メインページ -->
<div class="container">
  <div class="row">

    <!-- サイドバー -->
  	<%= render 'layouts/sidebar_users', {} %> <!-- 変数を再定義する必要有り -->

    <!-- 商品情報 -->
    <div class="col-9 my-4">
      <div class="row">
        <!-- ジャケット画像 -->
        <div class="col-4">
          <%= attachment_image_tag @item, :image, fallback: "no_image.jpg",class: "card-img" %>
        </div>
        <!-- 商品　大情報 -->
        <div class="col-5" style="word-break: break-all;">
          <div>
            <p>
              <%= link_to @item.genre.genre_english, '#', class: "btn btn-sm btn-secondary" %>
            </p>

            <span>
              <%= link_to @item.artist.name, '#', class: "font-weight-bold", style: "color: #0033cc; font-size: 18px;" %>
            </span><br>

            <span class="font-weight-bold", style="color: #1a1a1a;">
              <%= @item.title %>
            </span>
          </div>

          <div class="mt-3">
            <span class="text-dark small">
              <%= number_to_currency @item.price_without_tax, :unit => "￥", :precision => 0 %>
            </span><br>
            <!-- 在庫が20以下の場合 -->
            <% if @item.stock <= 20 && @item.stock >= 1 %>
              <span class="text-danger small">
                在庫残り<%= @item.stock %>点
              </span>
            <!-- 在庫切れの場合 -->
            <% elsif @item.stock == 0 && @item.is_deleted == false %>
              <span class="text-secondary small">
                【在庫切れ】再入荷中
              </span>
            <!-- 削除フラグtrueの場合 -->
            <% elsif @item.is_deleted == true %>
              <span class="text-secondary small">
                取扱終了
              </span>
            <!-- 在庫が21以上の場合 -->
            <% else %>
              <span class="text-dark small font-weight-bold">
                在庫有り
              </span>
            <% end %>
          </div>

        </div>
        <!-- カート追加関連 -->
        <div class="col-3 align-self-end">
          <!-- カートに入れる数量 -->
          <ul class="list-group list-group-flush">
            <li class="list-group-item form-group">
                <input class="form-control form-control-sm" type="text" placeholder="数量を入力">
                </input>
            </li>
            <!-- カートか欲しいものリストに追加 -->
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">カートに追加</a></li>
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">リストに追加</a></li>
          </ul>
        </div>

      </div>
      <!-- YouTube -->
      <div class="row">
        <div class="col-12 mt-4">
          <iframe class="" src="https://www.youtube.com/embed/exlGc8eFXI0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
      </div>

      <!-- 商品　小情報 -->
      <div class="row">
        <div class="col-12">
          <table class="table table-sm small">
            <thead class="text-white" style="background-color:#B40404;">
              <tr>
                <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品情報</p>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="bg-secondary text-white">商品タイプ</th>
                <td><%= @item.content_type %></td>
                <th class="bg-secondary text-white">レーベル</th>
                <td><%= @item.label.name %></td>
              </tr>
              <tr>
                <th class="bg-secondary text-white">ディスク枚数</th>
                <td>
                  <%= Track.count('DISTINCT disc_number') %>
                </td>
                <th class="bg-secondary text-white">収録曲数</th>
                <td><%= Item.joins(:tracks).group('tracks.item_id').count %>
                  <%= Track.count('name') %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- 収録曲トラックナンバー、タイトル、アーティスト -->
      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white" style="background-color:#B40404;">収録曲</p>
            <table class="table table-sm table-striped small"  style="width: 100%; table-layout: fixed; overflow: hidden;">
              <tbody>
                <% @item.tracks.each do |track| %>
                  <tr>
                    <th scope="row" style="width: 3%;">
                      <%= track.track_number %>
                    </th>
                    <td style="width: 47%;">
                      <%= track.name %>
                    </td>
                    <td style="width: 50%;">
                      <%= track.artist.name %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">商品紹介</p>
          <div class="small" style="word-break: break-all;">
            <%= @item.item_introduction %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <p class="text-center my-4 h5 text-white " style="background-color:#B40404;">購入者レビュー</p>
            <table class="table" style="word-break: break-all;">
              <tbody>
                <% if @item.item_reviews.exists? %>
                  <%= @item.item_reviews.each do |reviews| %>
                    <tr>
                      <td>
                        <p class="text-dark">
                          <%= reviews.user.name %>
                        </p>
                        <span class="text-secondary">
                          <%= reviews.created_at %>
                        </span>
                        <div class="mt-1 small text-dark">
                          <%= reviews.review %>
                        </div>
                      </td>
                    </tr>
                  <% end %>

                <% else %>

                  <p class='text-center'>レビューは投稿されていません</p>

                <% end %>

              </tbody>
            </table>
        </div>
      </div>

    </div><!-- メインページの閉じタグ -->
  </div><!-- 全体rowの閉じタグ -->
</div><!-- 全体containerの閉じタグ -->