<!DOCTYPE html>
<html>
  <head>
    <title>TOZAI Records</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-top">
      <% if admin_signed_in? %>
        <%= render 'layouts/header_admins' %>    
      <% elsif  user_signed_in? %>
        <%= render 'layouts/header_user_signin' %>
      <% else %>
        <%= render 'layouts/header_user' %>
      <% end %>
    </header>
    
    <div class="main-content">
      <%= yield %>
    </div>
    
    
    <footer class="bg-dark" style=" z-index: 2">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018 WebCampPro TOZAI Records</p>
      </div>
<%
=begin
%>
      <% if Rails.env.development?%>
        <div class="debug">
          <%= debug(params) %>
        </div>
      <% end %>
<%
=end
%>
    </footer>
    
  </body>

</html>
