<!DOCTYPE html>
<html>
  <head>
    <title>TOZAI Records</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header> <%# #TODO ヘッダー全面的に直す%>
  <% if admin_signed_in? %>

  <% else %>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 100px;">  <!--class="fixed-top"-->
        <div class="container">
        <!-- 東西チームロゴ -->
          <%= link_to root_path, target: "_blank" do  %>
            <%= image_tag "logo.png", class: "mr-6", :size =>'60x60' %>
          <% end %>
        <!-- 検索フォーム -->
          <input type="text" class="form-control pl" id="formGroupExampleInput2" placeholder="曲名、CDタイトル、アーティスト名、ジャンルで検索"></input>
        <!-- 検索アイコン -->
          <a class="nav-link fa fa-search text-white fa-lg text-right" href="#"></a>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <!-- ユーザーページ用リンク -->
              <li class="nav-item">
                <%= link_to user_path(current_user.id) do %>
                  <i class="fa fa-user fa-lg text-white text-center" ></i>
                  <p class="text-white small">
                    <%= current_user.family_name_kanji %>
                    <%= current_user.given_name_kanji %>
                  </p>
                <% end %>
              </li>
              <!-- ログアウトリンク -->
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out fa-lg text-white"></i>
                <span class="nav-link small text-white text-center">Logout</span>
                <% end %>
              </li>
              <!-- カートページ用リンク -->
              <li class="nav-item">
                <a class="nav-link fa fa-shopping-cart text-white fa-lg text-center" href="#"><span class="small"><br>2items</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <% else %>

      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="height: 100px;">
        <div class="container">
          <!-- 東西チームロゴ -->
          <%= link_to root_path, target: "_blank" do  %>
            <%= image_tag "logo.png", class: "mr-4", :size =>'60x60' %>
          <% end %>
          <!-- 検索フォーム -->
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="曲名、CDタイトル、アーティスト名、ジャンルで検索"></input>
          <!-- 検索アイコン -->
          <a class="mx-2 fa fa-search text-white fa-lg" href="#"></a>

          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <!-- サインアップ用リンク -->
              <li class="nav-item">
                <%= link_to new_user_registration_path do %>
                  <i class="fa fa-user-plus fa-lg text-white"></i>
                  <span class="nav-link small text-white text-center">Signup</span>
                <% end %>
              </li>
              <!-- ログインリンク -->
              <li class="nav-item">
                <%= link_to new_user_session_path do %>
                  <i class="fa fa-sign-in-alt fa-lg text-white"></i>
                  <span class="nav-link small text-white text-center">Login</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <% end %>

  <% end %>

  </header>

  <body>

    <%= yield %>

  </body>

  <footer class="bg-dark" style="height: 120px; line-height: 120px;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2018 WebCampPro TOZAI Records</p>
    </div>
  </footer>

</html>
